<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans spring-beans-3.0.xsd">


	<bean id="mssqlConfig0" class="com.bixuebihui.dbcon.DatabaseConfig">
		<property name="alias" value="gdzc"/>
		<property name="className" value="com.microsoft.sqlserver.jdbc.SQLServerDriver"/>
		<property name="dburl" value="${dburl}"/>
		<property name="username" value="${dbusername}"/>
		<property name="password" value="${dbpassword}"/>
	</bean>

	<bean id="postgresqlconfig" class="com.bixuebihui.dbcon.DatabaseConfig">
		<property name="alias" value="qsn"/>
		<property name="className" value="org.postgresql.Driver"/>
		<property name="dburl" value="jdbc:postgresql://qsn.com:5432/qsn"/>
		<property name="username" value="qsn"/>
		<property name="password" value="qsn123"/>
	</bean>


	<bean id="mysqlConfig" class="com.bixuebihui.dbcon.DatabaseConfig">
		<property name="alias" value="ssll"/>
		<property name="className" value="com.mysql.cj.jdbc.Driver"/>
		<property name="dburl" value="${dburl}"/>
		<property name="username" value="${dbusername}"/>
		<property name="password" value="${dbpassword}"/>
	</bean>


	<alias name="mysqlConfig" alias="dbConfig" />


	<!-- com.bixuebihui.datasource.BitmechanicDataSource.java 默认连接的数据源 -->
	<bean id="bitmechanicDataSource"
		class="com.bixuebihui.datasource.BitmechanicDataSource">
		<property name="databaseConfig" ref="dbConfig"/>

	</bean>

	<alias name="bitmechanicDataSource" alias="dataSource" />

	<bean id="dbHelper1" class="com.bixuebihui.jdbc.DbHelper">
		<property name="dataSource" ref="dataSource"/>
	</bean>



     <bean id="dbHelperAroundAdvice" class="com.bixuebihui.jdbc.aop.DbHelperAroundAdvice"/>

     <bean id="dbHelper" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.bixuebihui.jdbc.IDbHelper"/>
        <property name="interceptorNames">
            <list>
                  <value>dbHelperAroundAdvice</value>
            </list>
        </property>
        <property name="target" ref="dbHelper1"/>
     </bean>

	<alias name="dbHelper" alias="kuozhanDbHelper" />
    <alias name="dbHelper" alias="gamesDbHelper" />
    <alias name="dbHelper" alias="cacheDbHelper" />
    <alias name="dbHelper" alias="sequenceDbHelper" />
    <alias name="dbHelper" alias="sessionDbHelper" />
    <alias name="dbHelper" alias="tablegenDbHelper" />
   	<!-- more bean definitions go here -->

</beans>

